<!-- floating action button -->
<a href="/schedule-service">
    <div class='action-btn animate__bounceIn hidden'>
        <i class='fa-solid fa-calendar-days calender-icon'></i>
        <p class='floating-btn-txt hidden'>Schedule Service</p>
    </div>
</a>