<!-- Footer -->
<section id="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="txt-blob">
                <a class="navbar-brand nav-logo" href="/">b<span class="nav-logo-g">g</span></a>
     
                <p>
                 Limited Lifetime Warranty on Workmanship and Paint 10% Discount on Mechanical Repair Total 
                 in Conjunction with Collision Repairs.
                 <br><br>
                 FOR CONVENIENCE, USE THE DRIVE-THRU ESTIMATE BAY AND AFTERHOUR KEY DROP Entrance on Wells St 
                 just off S. Hanover
                 <br><br>
                 ALL IMPORTED / DOMESTICS
                </p>
     
                <img src="css/images/credit-card-icons.png" alt="credit card icons"> 
            </div> 
     
            <div class="menu">
             <nav class="navbar navbar-expand-lg">
                 <div class="container-fluid menu-container">
                     <ul class="mb-lg-0">
                         <li class="nav-item">
                             <a class="nav-link nav-txt" href="/services">Services</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link nav-txt" href="/tour-&-equipment">Tour & Equipment</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link nav-txt" href="/our-process">Our Process</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link nav-txt" href="/about-us">About Us</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link nav-txt" href="/contact-us">Contact Us</a>
                         </li>
                         <li class="navitem">
                             <a class="nav-link nav-txt top-nav" href="/gallery">Gallary</a>
                         </li>
                         <li class="navitem">
                             <a class="nav-link nav-txt top-nav" href="/faq">FAQ</a>
                         </li>
                     </ul>
                 </div>
             </nav>
            </div>
     
            <div class="contact-us">
                 <ul class="fa-ul grid-list">
                     <li>
                         <span class="fa-li icon-container">
                             <i class="fa-solid fa-location-dot"></i>
                         </span>
                         1845 S. Hanover St
                         Baltimore, MD 21230
                         <br>
                         Monday - Friday: 
                         8am to 5pm
                     </li>
                     <li>
                         <span class="fa-li icon-container">
                             <i class="fa-solid fa-envelope"></i>
                         </span>
                         info@bumperglobe.com
                     </li>
                     <li>
                         <span class="fa-li icon-container">
                             <i class="fa-solid fa-phone"></i>
                         </span>
                         (443) 708-8352 |<br>
                         (443) 759-5138
                     </li>
                 </ul>
            </div>
        </div>

        <p class="copyright">©Bumper Globe </p>
    </div>
</section>