<nav class="navbar navbar-expand-lg computer-site">
    <div class="container-fluid skinny-fluid"> 
        <a class="navbar-brand nav-logo" href="/">b<span class="nav-logo-g">g</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-txt top-nav" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="/////"><i class="fa-solid fa-circle-info icon"></i>  Contact info</a>

                    <ul class="dropdown-menu">
                        <table class="menu-table">
                            <tr>
                                <td class="dropmenu-icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </td>
                                <td>
                                    <li><a class="dropdown-item dropmenu-item" href="https://goo.gl/maps/cRcCaBAWVQaaudou8" target="_blank" rel="noopener noreferrer">1845 S. Hanover St Baltimore, MD 21230<br>Monday - Friday: 8am to 5pm</a></li>
                                </td>
                            </tr>
                            <tr>
                                <td class="dropmenu-icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </td>
                                <td>
                                    <li><a class="dropdown-item dropmenu-item" href="mailto:info@bumperglobe.com" target="_blank" rel="noopener noreferrer">info@bumperglobe.com</a></li>
                                </td>
                            </tr>
                            <tr>
                                <td class="dropmenu-icon">
                                    <i class="fa-solid fa-phone">
                                </td>
                                <td>
                                    <li><a class="dropdown-item dropmenu-item" href="tel:4437088352">(443) 708-8352 | (443) 759-5138</a></li>
                                </td>
                            </tr>
                        </table>
                    </ul>
                </li>
                <li class="navitem">
                    <a class="nav-link nav-txt top-nav" href="/gallery">Gallery</a>
                </li>
                <li class="navitem">
                    <a class="nav-link nav-txt top-nav" href="/faq">FAQ</a>
                </li>
                <li class="navitem">
                    <a class="nav-link nav-txt top-nav" href="/register"><i class="fa-solid fa-user icon"></i>  I Work Here</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg computer-site">
    <div class="container-fluid">
        <div class="collapse navbar-collapse div-contain" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-txt" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-txt" href="/tour-&-equipment">Tour & Equipment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-txt" href="/our-process">Our Process</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-txt" href="/about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-txt" href="/contact-us">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg mobile-nav">
    <div class="container-fluid mobile-container">
        <a class="navbar-brand nav-logo" href="/">b<span class="nav-logo-g">g</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContents" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
        </button>

        <div class="collapse navbar-collapse div-contain" id="navbarSupportedContents">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-txt" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-txt" href="/tour-&-equipment">Tour & Equipment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-txt" href="/our-process">Our Process</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-txt" href="/about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-txt" href="/contact-us">Contact Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-txt top-nav" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="/////">Contact info</a>

                    <ul class="dropdown-menu">
                        <table class="menu-table">
                            <tr>
                                <td>
                                    <li>
                                        <a class="dropdown-item dropmenu-item" 
                                        href="https://goo.gl/maps/cRcCaBAWVQaaudou8">
                                        1845 S. Hanover St Baltimore, <br>MD 21230 (Mon - Fri: 8am to 5pm)</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <li><a class="dropdown-item dropmenu-item" href="mailto:info@bumperglobe.com">info@bumperglobe.com</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <li><a class="dropdown-item dropmenu-item" href="tel:4437088352">(443) 708-8352 | (443) 759-5138</a></li>
                                </td>
                            </tr>
                        </table>
                    </ul>
                </li>
                <li class="navitem">
                    <a class="nav-link nav-txt top-nav" href="/gallery">Gallery</a>
                </li>
                <li class="navitem">
                    <a class="nav-link nav-txt top-nav" href="/faq">FAQ</a>
                </li>
                <li class="navitem mobile-signin">
                    <a class="nav-link nav-txt top-nav" href="/////">I Work Here</a>
                </li>
            </ul>
        </div>
    </div>
</nav>