<%- include("partials/header") %> 

<div class="page">
    <div class="content-area cancel-apt-area">
        <div class="content">
            <div class="cancel-appointment">
                <a class="navbar-brand nav-logo cancel-apt-submitted-logo" href="/">b<span class="nav-logo-g">g</span></a>

                <p class="cancel-apt-submitted-p">Appointment cancelled. Have a quick sec? <a class="cancel-apt-submitted-a" href='/contact-us'>let us know why.</a></p>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>